{% extends 'base.html.twig' %}

{% block title jeux.title %}

{% block body %}
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
        {% if jeux.filename %}
          <div>
            <img src="{{ vich_uploader_asset(jeux, 'imageFile')  }}" alt="card-img-top" style="width: 75%; height:auto;">
          </div>
        </div>
        {% endif %}
        
        <div class="col-md-4">
          <h1>{{ jeux.title }}</h1>
          <h2>{{ jeux.joueursmini }} - {{ jeux.joueursmaxi }} joueurs</h2>
          <div class="text-primary" style="font-size: 4rem;font-weight: bold;">{{ jeux.timegame }} min environ</div>
            <a href="#" class="btn btn-primary">Contacter nous</a>
            <div id="contactForm" class="mt-4">
              {{ form_start(form) }}
              <div class="row">
                <div class="col">{{ form_row(form.firstname) }}</div>
                <div class="col">{{ form_row(form.lastname) }}</div>
              </div>
              <div class="row">
                <div class="col">{{ form_row(form.phone) }}</div>
                <div class="col">{{ form_row(form.email) }}</div>
              </div>
              {{ form_rest(form) }}
              <div class="form-group">
                <button class="btn btn-primary">Envoyer</button>
              </div>
              {{ form_end(form) }}
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-4">

    <div class="row">
      <div class="col-md-9">
        <h2>Caractéristiques</h2>
        <table class="table table-striped">
          <tr>
            <td>Description</td>
            <td>{{ jeux.description | nl2br}} </td>
          </tr>
          <tr>
            <td>Regle</td>
            <td>{{ jeux.regledujeu | nl2br}}</td>
          </tr>
          <tr>
            <td>Age recommandé</td>
            <td>{{ jeux.agemini }} ans</td>
          </tr>
        </table>
      </div>
      <div class="col-md-3">
            <tr>
                <td><h2>Le contenu </br> de la boite</h2></td>
                <td>{{ jeux.contenuboite }}</td>
            </tr>

      </div>
    </div>
  </div>
{% endblock %}
