<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">    
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
         <link rel="stylesheet" href="/assets/css/app.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Association des Joueurs de Noblat</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'jeux'%}active{% endif %}" href="{{ path('jeux.index') }}">Les Jeux</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'contact'%}active{% endif %}" href="{{ path('pages.contact') }}">Nous contacter</a>
                    </li>
                </ul>
                {% if app.user %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('logout') }}" class="nav-link"> Se déconnecter </a>
                        </li>
                    </ul>
                {% endif %}

            </div>
        </nav>
        {% block body %}
        
        <div class="container">

            <div id="slider">
            <button class="prev sliderbutton">&lt;</button>
            <button class="next sliderbutton">&gt;</button>
            <div class="slide">
                <img src="assets/img/rock.jpg" alt="Une belle image" />
                <h1>Bienvenue sur mon slide !</h1>
                <p>
                    C'est moi qui l'ai fait tout seul, avec mes p'tits doigts et mon
                    gros cerveau…
                </p>
            </div>
            <div class="slide">
                <img src="assets/img/hotel.jpg" alt="Une belle image aussi" />
                <h2>Vous trouvez pas qu'il est hyper classe ?</h2>
                <p>
                    Non sans dec', vous trouvez pas ? Parce que moi, je le trouve
                    vraiment hyper classe.
                </p>
            </div>
            <div class="slide">
                <img src="assets/img/capture.png" alt="Une image moins belle mais pas mal quand même" />
                <h2>Ou classe ? Ou pas ? Hein ?</h2>
                <p>
                    Bah, vous y connaissez rien toute façon. Faisez-en des diaporamas,
                    on verra bien…
                </p>
            </div>
        </div>

        </div>

        {% endblock %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="./assets/js/diapo.js" />

        {% block javascripts %}
            <script type="text/javascript">
                $(document).ready(function() {
                    $('.carousel').carousel({
                        interval: 2000
                    })
                });
            </script>
            <script src="{{ asset('assets/js/diapo.js') }}"></script>
        {% endblock %}

    </body>
</html>
